<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>AngularJs Application</title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="scripts/scripts.js"></script>

</head>
<body ng-controller="myController">
	<input type="text" ng-model="countryInfo.name">
	<input type="text" ng-model="countryInfo.capital">
	<input type="text" ng-model="countryInfo.flag">
	<div>
		<p>Country Name : {{ countryInfo.name }}</p>
	</div>
	<div>
		<p>Country Capital : {{ countryInfo.capital }}</p>
	</div>
	<div>
		<img ng-src="{{countryInfo.flag}}" alt="Flag of {{countryInfo.name}}">
	</div>
</body>
</html>